<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/layout :: head"></head>

<body>
	<header th:replace="/fragments/layout :: header"></header>
	<div class="container">
		<div class="row">
			<div class="col-10 offset-1">
				<div class="row d-flex mb-2">
					<div class="ml-2" style="width:128px;height:128px;">
						<img th:src="@{ '/user/profile' + ${board.img}}" width="128" height="128">
					</div>
					<div class="col">
						<h4 class="card-title" th:text="${board.title}">글제목</h4>
						<p class="card-text">
							<span class="badge badge-primary" th:text="@{${board.name} + '(' + ${board.writer} + ')' }">글쓴이</span><br>
							<span class="badge badge-secondary" th:text="@{'LV.[' + ${board.level} + ']' }">레벨</span><br>
							<span class="badge badge-warning" th:text="@{'작성일 : ' + ${#dates.format(board.writeDate, 'yyyy-MM-dd')} }">작성일</span>
						</p>
					</div>
				</div>
				
				<div class="card">
					<div class="card-body" th:utext="${board.content}">
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-10 offset-1 text-right">
				<a href="/board/list" class="btn btn-primary">목록보기</a>
			</div> 
		</div>
	</div>
	<footer th:replace="/fragments/layout :: footer"></footer>
</body>
</html>