<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/layout :: head"></head>
<body>
	<header th:replace="/fragments/layout :: header"></header>
	<div class="container">
		<div class="row">
			<div class="col-10 offset-1">
				<h2 th:text="${board.title}">글제목</h2>
				<div class="card">
					<div class="card-header">
						<span th:text="${board.title}">글제목</span> <span
							class="badge badge-primary" th:text="${board.writer}">글쓴이</span>
						<span class="badge badge-warning"
							th:text="${#dates.format(board.writeDate, 'yyyy-MM-dd')}">작성일</span>
					</div>
					<div class="card-body" th:utext="${board.content}"></div>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-10 offset-1 text-right">
				<a href="/board/list" class="btn btnprimary">목록보기</a>
			</div>
		</div>
	</div>
	<footer th:replace="/fragments/layout :: footer"></footer>
</body>
</html>