<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/layout :: head"></head>

<body>
	<header th:replace="/fragments/layout :: header"></header>
	<div class="container">
		<div class="row">
			<div class="col-10 offset-1">
				<div class="row d-flex mb-2">
					<div class="ml-2" style="width:128px;height:128px;">
						<img th:src="@{ '/user/profile' + ${board.img}}" width="128" height="128">
					</div>
					<div class="col">
						<h4 class="card-title" th:text="${board.title}">글제목</h4>
						<p class="card-text">
							<span class="badge badge-primary" th:text="@{${board.name} + '(' + ${board.writer} + ')' }">글쓴이</span><br>
							<span class="badge badge-secondary" th:text="@{'LV.[' + ${board.level} + ']' }">레벨</span><br>
							<span class="badge badge-warning" th:text="@{'작성일 : ' + ${#dates.format(board.writeDate, 'yyyy-MM-dd')} }">작성일</span>
						</p>
					</div>
				</div>
				
				<div class="card">
					<div class="card-body" th:utext="${board.content}">
					</div>
				</div>
			</div>
		</div>
			
		<!-- 댓글  리스트-->
		<div class="row mt-3 col-10 offset-1">
		<!-- 댓글  리스트-->
		
			<!-- 댓글 돔 -->		
			<div class="row col-4 py-4" style="border : 1px solid #ddd; border-radius:0.25rem;">
				<div class="col-12 d-flex align-items-center">
					<img src="/user/profile/werhujiowerhuioew.34590456890456" width="50" height="50">
					<div class="col-10">
						<p class="mb-0" style="font-weight: 700; font-size:16px;">댓글 작성자</p>
						<p class="mb-0" style="font-weight: 500; font-size:15px;">ajwwlswotjd@naver.com</p>
					</div>
				</div>
				
				<p class="mt-2 mb-0 col-12">댓글작성댓글작성댓글작성댓글작성댓글작성댓글작성댓글작성</p>
				
				<div class="col-12 text-right pr-0 mt-2">
					<a class="btn btn-sm btn-outline-danger" href="#">댓글 삭제</a>
				</div>
			</div>
			<!-- 댓글 돔 -->
			
		<!-- 댓글  리스트-->
		</div>
		<!-- 댓글  리스트-->
		
		<!-- 댓글작성  -->
		<form class="row form-inline mt-3" th:action="@{ '/board/reply/' + ${ board.id } }" method="POST">
			<div class="form-group col-10 offset-1 d-flex align-items-center justify-content-end">
				<input class="form-control mr-sm-2 col-4" type="text" placeholder="댓글을 입력해주세요.">
      			<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">작성</button>
			</div>
		</form>
		<!-- 댓글작성  -->
		
		<div class="row mt-3">
			<div class="col-10 text-right offset-1">
				<a href="/board/list" class="btn btn-primary">목록보기</a>
				<a th:href="@{ '/board/update/' + ${ board.id } }" class="btn btn-info" th:if="@{ ${qhsdls} }">수정</a>
				<a th:href="@{ '/board/delete/' + ${ board.id } }" class="btn btn-danger" th:if="@{ ${qhsdls} }">삭제</a>
			</div> 
		</div>
	</div>
	<footer th:replace="/fragments/layout :: footer"></footer>
	<link rel="stylesheet" href="/css/prism.css">
	<script src ="/js/prism.js"></script>
</body>
</html>